In [1]:
import pandas as pd
df = pd.read_csv('US_APPLE_APPS_REVIEWS.csv')
df.head()

,Unnamed: 0,date,pseudoUserId,userName,title,review,rating,isEdited,country,applicationName
0,0,2017-09-07 19:45:20,711916109592841231540,Re****II,Buggy,This app is rarely functional for being able t...,2,False,us,uber-request-a-ride
1,1,2017-09-07 21:58:23,194634079301738577104,pl****02,Deteriorating,Uber is slowly deteriorating in terms of custo...,1,False,us,uber-request-a-ride
2,2,2017-09-07 22:05:22,142799766719763824433,da**********re,Billed wrongly & Won't let me update my card i...,Horrible!!! Not user friendly! Does not allow ...,1,False,us,uber-request-a-ride
3,3,2017-09-08 00:48:24,277271148707045434100,Na********uy,No to Uber,Another update (again). Still have to share my...,1,True,us,uber-request-a-ride
4,4,2017-09-08 01:38:01,129835059768817274330,Z***n,Stop tracking all the time,Listen to our feedback. Don't just give the ca...,1,False,us,uber-request-a-ride

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174509 entries, 0 to 174508
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       174509 non-null  int64
 1   date             174509 non-null  object
 2   pseudoUserId     174509 non-null  object
 3   userName         174509 non-null  object
 4   title            174499 non-null  object
 5   review           174509 non-null  object
 6   rating           174509 non-null  int64
 7   isEdited         174509 non-null  bool
 8   country          174509 non-null  object
 9   applicationName  174509 non-null  object
dtypes: bool(1), int64(2), object(7)
memory usage: 12.1+ MB

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174509 entries, 0 to 174508
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       174509 non-null  int64
 1   date             174509 non-null  datetime64[ns]
 2   pseudoUserId     174509 non-null  object
 3   userName         174509 non-null  object
 4   title            174499 non-null  object
 5   review           174509 non-null  object
 6   rating           174509 non-null  int64
 7   isEdited         174509 non-null  bool
 8   country          174509 non-null  object
 9   applicationName  174509 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 12.1+ MB

In [5]:
print('Number of rows and column :')
print({df.shape[0], df.shape[1]})
print('Number of duplicate entries in the dataset are : ')
print(df.duplicated().sum())
print('Number missing values in the dataset are : ')
print(sum(df.isna().sum()))

Number of rows and column :
{10, 174509}
Number of duplicate entries in the dataset are :
0
Number missing values in the dataset are :
10

In [6]:
print(df.isnull().sum())

Unnamed: 0          0
date                0
pseudoUserId        0
userName            0
title              10
review              0
rating              0
isEdited            0
country             0
applicationName     0
dtype: int64

In [7]:
df['title'].fillna('Not Specified', inplace=True)
print(df.isnull().sum())

Unnamed: 0         0
date               0
pseudoUserId       0
userName           0
title              0
review             0
rating             0
isEdited           0
country            0
applicationName    0
dtype: int64

In [8]:
df.to_csv('US_APPSTORE_APPS_REVIEWS_CLEANED.csv')